<div class="login-container" style="margin-bottom: 10%;">
    <form class="login-form" [formGroup]="loginForm">
        <h1 style="font-weight: bold;">Login</h1>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email">
            <span style="color: red;" *ngIf="loginForm.controls.email.hasError('required')">Enter Your Email!</span>
            <span style="color: red;" *ngIf="loginForm.controls.email.hasError('email')">Enter a Valid Email!</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter password">
            <span style="color: red;" *ngIf="loginForm.controls.password.hasError('required')">Your password is required</span>
            <span style="color: red;" *ngIf="loginForm.controls.password.hasError('minlength')">Password should be at least 8 characters</span>
        </div>
        <button type="submit" (click)="Login()" class="btn btn-primary btn-block" style="font-weight: bold;">Login</button>

        <div style="margin-top: 15px;">
            <a (click)="GoToRegister()" style="cursor: pointer; color: #6e8efb;">You don't have an account!</a>
        </div>
    </form>
</div>
